.container {
    margin-top: 100px;
}

.container .row .carte img {
    width: 100%;
}

.cache {
    height: 100%;
    width: 100%;
    opacity: 100%;
    background-image: url(img/back.jpg);
    background-size: cover;
    position: absolute;
}

.victoire {
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    display: none;
}

.victoire p {
   font-size: 2em;
}