.memory-container {
    margin-top: 100px;
    width: 100vw;
}

.memory-board {
    width: 510px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-auto-rows: 120px;
    grid-gap: 10px;
}

.carte-container {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.carte {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carte img {
    width: 100%;
}

.carte .front,
.carte .back {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.carte .front {
    height: 100%;
    width: 100%;
    opacity: 100%;
    background-image: url(img/back.jpg);
    background-size: cover;
    position: absolute;
}

.carte .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.victoire {
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    display: none;
}

.victoire p {
   font-size: 2em;
}
